<div class="row">
<div class="col-md-4 col-md-offset-4">
<h1>Uzsiregistruoti</h1>
<div class="aler alert-danger">
</div>
<form action="/user/signup" method="post">
<div class="form-group">
<label for="email">El.Pastas</label>
<input type="text" id="email" name="email" class="form-control">
</div>
<div class="form-group">
<label for="password">Slaptazodis</label>
<input type="password" id="password" name="password" class="form-control">
</div>
<input type="hidden" value="">
<button type="submit" class="btn btn-primary">Uzsiregistruoti</buton>
</form>

</div>
</div>